

<%- include("partials/header"); %>
<div class="container-fluid topbox">
  <i class="fas fa-key fa-6x"></i>
  <h1 class="secret_text">Secrets</h1>
  <p class="secret_para">Feel free to share your secrets anonymously</p>
</div>

<hr class="line">

<div class="key_button">
  <a type="button" class="btn btn-light btn-lg" href="/login"  name="button">Login</a>
  <a type="button" class="btn btn-dark btn-lg" href="/register" name="button">Register</a>
</div>



<%- include("partials/footer"); %>
