<%- include("partials/header"); %>

<div class="welcome_text">
  <h1>welcome <%= name %></h1>
</div>

<div class="container-fluid secrets_head">
  <i class="fas fa-key fa-3x"></i>
  <h1>your biggest secret is</h1>

</div>
<div class="secrets_text">
  <p>I love playing chess</p>
</div>

<div class="log_out">
  <a class="btn btn-dark btn-lg" href="/">Log-out</a>
</div>


<%- include("partials/footer"); %>
